<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Angular Sample </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/counter/counter">카운터</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/simple_task">테스크</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rxjs">RXJS</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/recipe">전체 레시피</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/challenge">챌린지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
